# Basic Operator

In [40]:
# Assigning some numbers to different variables
num1 = 10
num2 = -3
num3 = 7.41
num4 = -.6
num5 = 7
num6 = 3
num7 = 11.11

In [41]:
# Addition
num1 + num2

7

In [42]:
# Subtraction
num2 - num3

-10.41

In [43]:
# Multiplication
num3 * num4

-4.446

In [44]:
# Division
num4 / num5

-0.08571428571428572

In [45]:
# Exponent
num5 ** num6

343

In [46]:
# Increment existing variable
num7 += 4
num7

15.11

In [47]:
# Decrement existing variable
num6 -= 2
num6

1

In [48]:
# Multiply & re-assign
num3 *= 5
num3

37.05

In [49]:
# Assign the value of an expression to a variable
num8 = num1 + num2 * num3
num8

-101.14999999999999

In [50]:
# Are these two expressions equal to each other?
num1 + num2 == num5

True

In [51]:
# Are these two expressions not equal to each other?
num3 != num4

True

In [52]:
# Is the first expression less than the second expression?
num5 < num6

False

In [53]:
# Is this expression True?
5 > 3 > 1

True

In [54]:
# Is this expression True?
5 > 3 < 4 == 3 + 1

True

In [55]:
# Assign some strings to different variables
simple_string1 = 'an example'
simple_string2 = "oranges "

In [56]:
# Addition
simple_string1 + ' of using the + operator'

'an example of using the + operator'

In [57]:
# Notice that the string was not modified
simple_string1

'an example'

In [58]:
# Multiplication
simple_string2 * 4

'oranges oranges oranges oranges '

In [59]:
# This string wasn't modified either
simple_string2

'oranges '

In [60]:
# Are these two expressions equal to each other?
simple_string1 == simple_string2

False

In [61]:
# Are these two expressions equal to each other?
simple_string1 == 'an example'

True

In [62]:
# Add and re-assign
simple_string1 += ' that re-assigned the original string'
simple_string1

'an example that re-assigned the original string'

In [63]:
# Multiply and re-assign
simple_string2 *= 3
simple_string2

'oranges oranges oranges '

In [64]:
# Note: Subtraction, division, and decrement operators do not apply to strings.